body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}
body{
  
     background-color: rgb(236, 181, 243);

}
h1{
   margin-left: 150px;
   font-size: 60px;
   text-shadow: 0px 20px 7px #873876;
}
p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}
p:hover{
    font-size: 25px;
     text-shadow: 0 7px 4px #8B2374;
     margin-left: 50px;
}
header{
    background-color:#8B2374;
    padding: 30px;
    background-image: linear-gradient( #8B2374,white);
}
.text-big{
    color: rgba(104, 57, 125, 0.948);
}
.link-text{
    color:  rgba(104, 57, 125, 0.948);

}
.link-text:hover{
    font-size: 30px;
    text-decoration: none;
}
.link-text:visited{
    color:  rgba(51, 9, 70, 0.948);
} 
.link-header{
    color:black;
    text-decoration: none;
    border: 2px solid black;
    font-size: 20px;
    padding: 5px;
}
footer{
    background-color: #8B2374;
      background-image: linear-gradient(white,#8B2374);
}
.link-nav{
    color:  #8B2374;
    margin-right: 50px;


}
nav{
    padding:15px 40px 0 10px;
}
h2{
    text-shadow: 0 10px 5px #8B2374;
    font-size: 30px;
}
.link-header:hover{
    font-size: 30px;
}

ol{
    border: 3px dotted  #8B2374 ;
}
